In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [83]:
import psycopg2

from sqlalchemy import create_engine

In [84]:
folder = 'D:/Data_Analyst_Projet/Projet 8/Tableau/Fichiers csv nettoyes/'
folder_import = 'D:/Data_Analyst_Projet/Projet 8/Donnée debut projet/DAN-P8-donnees/donnees_python/'

In [85]:
population=pd.read_csv(folder+'population.csv')
region=pd.read_csv(folder+'continent.csv')
political_stability=pd.read_csv(folder+'political_stability.csv')
mortality_water=pd.read_csv(folder+'mortality_water.csv')
water_service=pd.read_csv(folder+'water_service.csv')

## Création base de données

In [86]:
from sklearn.preprocessing import LabelEncoder

### Table continent

In [87]:
continent = region.copy()

#### Encodage

In [88]:
# on enregistre une ligne 'unknown' pour l'encodage de id_continent
# permettra de faire l'association entre les pays sans continents et la table continent
continent = continent.append({'Continent':'unknown', 'Country':'unknown'}, ignore_index=True)


# création des transformeur
encodeur_continent = LabelEncoder()

encodeur_pays_annee = LabelEncoder()

encodeur_pays_genre = LabelEncoder()

encodeur_pays_zone = LabelEncoder()

C:\Users\Raphaël\AppData\Local\Temp\ipykernel_10604\1959430587.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  continent = continent.append({'Continent':'unknown', 'Country':'unknown'}, ignore_index=True)

In [89]:
# création de la table continent et de l'id_continent grace au transformeur
continent = continent.drop(columns='Country').drop_duplicates().reset_index(drop=True)
continent['id_continent'] = encodeur_continent.fit_transform(continent['Continent'])

In [90]:
# renommage colonne
continent = continent.rename(columns={'Continent':'continent'})

### Table pays_annee

In [91]:
# import fichier global

df = pd.read_csv(folder_import+'jointure.csv')

In [92]:
# Manipulation à partir du fichier global df pour sortir la table des pays en entier

C = df.copy()

C = C[(C['Granularity']=='Total')]

C = C[C['Population'].notna()]

C = C[['Country', 'Year', 'Population', 'Political_Stability', 
       'Region', 'WASH deaths', 'basic_service_water_population', 'safely_service_water_population']].reset_index(drop=True)

In [93]:
# Encodage et creation des clés

C.loc[C['Region'].isna(), 'Region'] = 'unknown'

C['id_pays_year'] = encodeur_pays_annee.fit_transform(C['Country']+C['Year'].astype('str'))

C['id_continent'] = encodeur_continent.transform(C['Region'])

C = C.drop(columns='Region')

C.head()

,Country,Year,Population,Political_Stability,WASH deaths,basic_service_water_population,safely_service_water_population,id_pays_year,id_continent
0,Afghanistan,2000,20779953.0,-2.44,NaN,5.770988e+06,NaN,0,2
1,Afghanistan,2001,21606988.0,NaN,NaN,6.006151e+06,NaN,1,2
2,Afghanistan,2002,22600770.0,-2.04,NaN,6.757802e+06,NaN,2,2
3,Afghanistan,2003,23680871.0,-2.20,NaN,7.579079e+06,NaN,3,2
4,Afghanistan,2004,24726684.0,-2.30,NaN,8.438285e+06,NaN,4,2

In [94]:
# Nom final + renommage colonnes

pays_annee = C

pays_annee.columns = ['country', 'year', 'population', 'political_stability', 'water_death_number',
                      'basic_service_water_population', 'safely_service_water_population', 'id_pays_year', 'id_continent']

### Table pays_genre

In [95]:
A = df.copy()

A = A[(A['Granularity']=='Male')|((A['Granularity']=='Female'))]

pays_genre = A[['Country', 'Granularity', 'Year', 'Population', 'WASH deaths']].reset_index(drop=True)

pays_genre.columns = ['country', 'genre', 'year', 'population', 'water_death_number']

pays_genre['id_pays_genre']=encodeur_pays_genre.fit_transform(pays_genre['country']+pays_genre['genre']+pays_genre['year'].astype('str'))

pays_genre['id_pays_year']=encodeur_pays_annee.transform(pays_genre['country']+pays_genre['year'].astype('str'))

# pays_genre = pays_genre.drop(columns=['country', 'year'])

pays_genre.head()

,country,genre,year,population,water_death_number,id_pays_genre,id_pays_year
0,Afghanistan,Male,2000,10689508.0,NaN,19,0
1,Afghanistan,Female,2000,10090449.0,NaN,0,0
2,Afghanistan,Male,2001,11117754.0,NaN,20,1
3,Afghanistan,Female,2001,10489238.0,NaN,1,1
4,Afghanistan,Male,2002,11642106.0,NaN,21,2

In [96]:
pays_genre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7618 entries, 0 to 7617
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             7618 non-null   object
 1   genre               7618 non-null   object
 2   year                7618 non-null   int64
 3   population          7618 non-null   float64
 4   water_death_number  366 non-null    float64
 5   id_pays_genre       7618 non-null   int32
 6   id_pays_year        7618 non-null   int32
dtypes: float64(2), int32(2), int64(1), object(2)
memory usage: 357.2+ KB

### Table pays_zone

In [97]:
B = df.copy()

B = B[(B['Granularity']=='Rural')|((B['Granularity']=='Urban'))]

B = B[B['Population'].notna()]

B = B[['Country', 'Granularity', 'Year', 'Population',
       'basic_service_water_population', 'safely_service_water_population']].reset_index(drop=True)

B.columns = ['country', 'zone', 'year', 'population',
       'basic_service_water_population', 'safely_service_water_population']

pays_zone = B

pays_zone['id_pays_zone']=encodeur_pays_zone.fit_transform(pays_zone['country']+pays_zone['zone']+pays_zone['year'].astype('str'))

pays_zone['id_pays_year']=encodeur_pays_annee.transform(pays_zone['country']+pays_zone['year'].astype('str'))

# pays_zone = pays_zone.drop(columns=['country', 'year'])

## Recap fichiers

In [98]:
continent

               continent  id_continent
0                 Europe             3
1        Western Pacific             5
2  Eastern Mediterranean             2
3        South-East Asia             4
4                 Africa             0
5               Americas             1
6                unknown             6

In [99]:
pays_annee

,country,year,population,political_stability,water_death_number,basic_service_water_population,safely_service_water_population,id_pays_year,id_continent
0,Afghanistan,2000,20779953.0,-2.44,NaN,5.770988e+06,NaN,0,2
1,Afghanistan,2001,21606988.0,NaN,NaN,6.006151e+06,NaN,1,2
2,Afghanistan,2002,22600770.0,-2.04,NaN,6.757802e+06,NaN,2,2
3,Afghanistan,2003,23680871.0,-2.20,NaN,7.579079e+06,NaN,3,2
4,Afghanistan,2004,24726684.0,-2.30,NaN,8.438285e+06,NaN,4,2
...,...,...,...,...,...,...,...,...,...
4406,Zimbabwe,2014,13586707.0,-0.71,NaN,8.895676e+06,NaN,4406,0
4407,Zimbabwe,2015,13814629.0,-0.62,NaN,8.977551e+06,NaN,4407,0
4408,Zimbabwe,2016,14030331.0,-0.62,3965.033,9.051194e+06,NaN,4408,0
4409,Zimbabwe,2017,14236595.0,-0.71,NaN,9.118714e+06,NaN,4409,0
4410,Zimbabwe,2018,14438802.0,-0.71,NaN,NaN,NaN,4410,0

In [100]:
pays_genre

,country,genre,year,population,water_death_number,id_pays_genre,id_pays_year
0,Afghanistan,Male,2000,10689508.0,NaN,19,0
1,Afghanistan,Female,2000,10090449.0,NaN,0,0
2,Afghanistan,Male,2001,11117754.0,NaN,20,1
3,Afghanistan,Female,2001,10489238.0,NaN,1,1
4,Afghanistan,Male,2002,11642106.0,NaN,21,2
...,...,...,...,...,...,...,...
7613,Zimbabwe,Female,2016,7356132.0,1630.404269,7596,4408
7614,Zimbabwe,Male,2017,6777054.0,NaN,7616,4409
7615,Zimbabwe,Female,2017,7459545.0,NaN,7597,4409
7616,Zimbabwe,Male,2018,6879119.0,NaN,7617,4410
7617,Zimbabwe,Female,2018,7559693.0,NaN,7598,4410

In [101]:
pays_zone

,country,zone,year,population,basic_service_water_population,safely_service_water_population,id_pays_zone,id_pays_year
0,Afghanistan,Rural,2000,15657474.0,3.385010e+06,NaN,0,0
1,Afghanistan,Urban,2000,4436282.0,2.195403e+06,NaN,19,0
2,Afghanistan,Rural,2001,16318324.0,3.527880e+06,NaN,1,1
3,Afghanistan,Urban,2001,4648139.0,2.300245e+06,NaN,20,1
4,Afghanistan,Rural,2002,17086910.0,4.032490e+06,NaN,2,2
...,...,...,...,...,...,...,...,...
8785,Zimbabwe,Urban,2016,5215894.0,4.906026e+06,NaN,8787,4408
8786,Zimbabwe,Rural,2017,11201138.0,5.578700e+06,NaN,8769,4409
8787,Zimbabwe,Urban,2017,5328766.0,5.008916e+06,NaN,8788,4409
8788,Zimbabwe,Rural,2018,11465748.0,NaN,NaN,8770,4410
8789,Zimbabwe,Urban,2018,5447513.0,NaN,NaN,8789,4410

## Export dans Postgresql

In [102]:
# création de la connexion 
conn = psycopg2.connect(
    host="localhost",
    database="Projet8",
    user="postgres",
    password="radrio06"
)

# création de l'engine qui sert à la connection
engine = create_engine('postgresql://postgres:radrio06@localhost:5432/Projet8')

In [103]:
# mise en place de l'index
continent.set_index('id_continent', inplace=True)
pays_annee.set_index(['id_pays_year', 'id_continent'], inplace=True)
pays_genre.set_index(['id_pays_genre', 'id_pays_year'], inplace=True)
pays_zone.set_index(['id_pays_zone', 'id_pays_year'], inplace=True)

In [104]:
# export
continent.to_sql('continent', engine, if_exists='replace', index=True)

7

In [105]:
pays_annee.to_sql('pays_annee', engine, if_exists='replace', index=True)
pays_genre.to_sql('pays_genre', engine, if_exists='replace', index=True)
pays_zone.to_sql('pays_zone', engine, if_exists='replace', index=True)

790

In [106]:
# valide le commit, les modifications effectuées dans la base
conn.commit()

# ferme la connexion en fin de programme
conn.close()

In [107]:
df['Granularity'].value_counts()

Total     4447
Rural     4431
Urban     4431
Male      3809
Female    3809
Name: Granularity, dtype: int64

In [108]:
df

,Country,Granularity,Year,Population,Political_Stability,Region,mortality_rate_water,WASH deaths,basic_service_water,safely_service_water,basic_service_water_population,safely_service_water_population
0,Afghanistan,Total,2000,20779953.0,-2.44,Eastern Mediterranean,NaN,NaN,27.77190,NaN,5.770988e+06,NaN
1,Afghanistan,Male,2000,10689508.0,NaN,Eastern Mediterranean,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Female,2000,10090449.0,NaN,Eastern Mediterranean,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Rural,2000,15657474.0,NaN,Eastern Mediterranean,NaN,NaN,21.61913,NaN,3.385010e+06,NaN
4,Afghanistan,Urban,2000,4436282.0,NaN,Eastern Mediterranean,NaN,NaN,49.48745,NaN,2.195403e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
20922,Sudan,Urban,2010,NaN,NaN,NaN,NaN,NaN,67.27745,NaN,NaN,NaN
20923,South Sudan,Rural,2011,NaN,NaN,NaN,NaN,NaN,38.68334,NaN,NaN,NaN
20924,South Sudan,Urban,2011,NaN,NaN,NaN,NaN,NaN,52.01019,NaN,NaN,NaN
20925,Sudan,Rural,2011,NaN,NaN,NaN,NaN,NaN,45.74108,NaN,NaN,NaN
20926,Sudan,Urban,2011,NaN,NaN,NaN,NaN,NaN,68.43725,NaN,NaN,NaN